In [2]:
import pandas as pd
import urllib2
opener = urllib2.build_opener()
opener.addheaders=[('User-agent','Mozilla/5.0')]
url = 'http://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=2457446'
response=opener.open(url)
results=pd.read_html(response.read())
#results=pd.read_html('myresults.html')
results
#timings=results[0]
#timings

[                Event    Run Date  Gender Pos  Overall Position   Time  \
 0  Gadebridge parkrun  21/01/2017          23                24  25:19
 1  Gadebridge parkrun  05/11/2016          35                41  25:41
 2  Gadebridge parkrun  29/10/2016          36                44  26:20
 3   St Albans parkrun  20/08/2016         110               123  24:33
 4  Gadebridge parkrun  06/08/2016          38                42  26:23
 5  Gadebridge parkrun  23/07/2016          27                33  27:31
 6  Gadebridge parkrun  02/07/2016          45                49  27:18
 7  Gadebridge parkrun  25/06/2016          39                48  28:55
 8  Gadebridge parkrun  04/06/2016          43                53  28:53
 9  Gadebridge parkrun  28/05/2016          54                68  28:53

   Age Grade
 0    53.92%
 1    53.15%
 2    51.84%
 3    55.60%
 4    51.74%
 5    49.61%
 6    50.00%
 7    47.20%
 8    46.91%
 9    46.91%  ,
                 Event  Runs  Best Gender Position  Best Position Overall  \
 0  Gadebridge parkrun    11                    23                     24
 1   St Albans parkrun     1                   110                    123
 2                        12                    23                     24

   Unnamed: 4                                                      .1
 0   00:25:19  All                                                NaN
 1   00:24:33  All                                                NaN
 2   00:24:33  All  \n\t\t\t\t\t\t\t\t \n                              ,
    Year           Role  Number of Times
 0  2017        Marshal                1
 1  2016  Finish Tokens                1
 2  2016        Marshal                2,
                                                    0   1  \
 0                           Number of events: 78,565 NaN
 1                           Number of locations: 442 NaN
 2                      Average runs per event: 176.1 NaN
 3                         Average run time: 00:27:53 NaN
 4  Female record holder: Hannah WALKER - 15:55 - ... NaN
 5  Male record holder: Andrew BADDELEY - 13:48 - ... NaN
 6  Age graded record holder: Fauja SINGH - 179.04... NaN

                                                    2   3  \
 0                       Number of runners: 1,192,266 NaN
 1                             Number of clubs: 4,184 NaN
 2            Average number of runs per runner: 11.6 NaN
 3  Total hours run: 734Years 73Days 17Hrs 2Min 56... NaN
 4                                                NaN NaN
 5                                                NaN NaN
 6                                                NaN NaN

                                   4
 0        Number of runs: 13,834,705
 1          Number of PBs: 2,640,722
 2                               NaN
 3  Total distance run: 69,173,525km
 4                               NaN
 5                               NaN
 6                               NaN  ]

In [4]:
timings.Event

0    Gadebridge parkrun
1     St Albans parkrun
2    Gadebridge parkrun
3    Gadebridge parkrun
4    Gadebridge parkrun
5    Gadebridge parkrun
6    Gadebridge parkrun
7    Gadebridge parkrun
8    Gadebridge parkrun
9    Gadebridge parkrun
Name: Event, dtype: object

In [5]:
timings.columns

Index([u'Event', u'Run Date', u'Gender Pos', u'Overall Position', u'Time',
       u'Age Grade'],
      dtype='object')

In [6]:
timings.head(3)

,Event,Run Date,Gender Pos,Overall Position,Time,Age Grade
0,Gadebridge parkrun,29/10/2016,36,44,26:20,51.84%
1,St Albans parkrun,20/08/2016,110,123,24:33,55.60%
2,Gadebridge parkrun,06/08/2016,38,42,26:23,51.74%

In [7]:
timings.describe()

       Gender Pos  Overall Position
count   10.000000         10.000000
mean    48.900000         58.500000
std     22.932025         25.365112
min     27.000000         33.000000
25%     38.250000         45.000000
50%     43.000000         51.000000
75%     51.750000         64.500000
max    110.000000        123.000000

In [8]:
timings.dtypes

Event               object
Run Date            object
Gender Pos           int64
Overall Position     int64
Time                object
Age Grade           object
dtype: object

In [10]:
timings[2:5]

,Event,Run Date,Gender Pos,Overall Position,Time,Age Grade
2,Gadebridge parkrun,06/08/2016,38,42,26:23,51.74%
3,Gadebridge parkrun,23/07/2016,27,33,27:31,49.61%
4,Gadebridge parkrun,02/07/2016,45,49,27:18,50.00%

In [11]:
timings[timings.Event=='Gadebridge parkrun']

,Event,Run Date,Gender Pos,Overall Position,Time,Age Grade
0,Gadebridge parkrun,29/10/2016,36,44,26:20,51.84%
2,Gadebridge parkrun,06/08/2016,38,42,26:23,51.74%
3,Gadebridge parkrun,23/07/2016,27,33,27:31,49.61%
4,Gadebridge parkrun,02/07/2016,45,49,27:18,50.00%
5,Gadebridge parkrun,25/06/2016,39,48,28:55,47.20%
6,Gadebridge parkrun,04/06/2016,43,53,28:53,46.91%
7,Gadebridge parkrun,28/05/2016,54,68,28:53,46.91%
8,Gadebridge parkrun,21/05/2016,43,54,29:13,46.38%
9,Gadebridge parkrun,14/05/2016,54,71,30:03,45.09%